:root {
    --maincolor: #428BCA;

}

.middle-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.min-height {
    min-height: 100vh;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

a:hover,
a:focus {
    color: #dba510;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    display: inline-block;
    padding: 0;
}

.navbar-light .navbar-toggler {
    box-shadow: unset;
}

.navbar-brand h1 {
    margin-bottom: 0;
}

.header-top {
    background-image: url("../images/bg-top-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    padding: 8px 0 8px 20px;
}

.header-top .text-head {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: calc(100% - 250px);
}

.header-top .text-head p {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0;
}

.header-top .text-head p:nth-child(1) {
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.header-top .text-head p:nth-child(2) {
    color: #337AB7;
    font-size: 1.4rem;
    font-weight: bold;
}

.navbar {
    padding: 0;
    flex-basis: max-content;
}

.nav-bg {
    background: var(--maincolor);
}

.nav-item {
}

.nav-item.active,
.nav-item:hover,
.nav-item:focus {
    background: #337AB7;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF !important;
    padding: 14px 22px;
}

.nav-login {
    width: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-login [class*="button-"] {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    line-height: 19px;
    font-size: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px 5px;
}

.button-login {
    margin-right: 3px;
}

.breadcrumb {
    margin: 7px 0;
    color: rgba(0, 0, 0, 1);
}

.breadcrumb li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.breadcrumb li:after {
    content: ">";
    right: 0;
    padding: 0 4px;
}

.breadcrumb li:last-child:after {
    display: none;
}

.breadcrumb li img {
    margin-right: 5px;
    margin-bottom: 2px;
}

.breadcrumb li a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.bd-search {
    flex: 1 1 19%;
}

.bd-search.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    padding-right: 30px;
}

.bd-search.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu)::placeholder {
    color: #fff;
}

.bd-search.input-group:not(.has-validation) img {
    position: absolute;
    color: #fff;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

footer {
    background-color: var(--maincolor);
    background-image: url("../images/bg-footer.png");
    background-size: 37%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 15px 0 15px;
}

.brand-footer {
}

.brand-footer img {
    margin-bottom: 10px;
}

.brand-footer p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.brand-footer p:nth-child(3) {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: bold;
}

.address {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.copyright {
    border-top: 1px solid;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.bg-breadcrumb {
    margin-bottom: 5px;
}

.section-title {
    background: var(--maincolor);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px 5px 0px 0px;
}

.section-title img {
    margin-bottom: 2px;
    margin-right: 6px;
    width: 20px;
}

.accordion {
    padding: 20px 30px;
}

.accordion-item {
    border: 0;
}

.accordion-button {
    border-radius: 6px !important;
    background-color: #EAEAEA;
    padding: 6px 15px;
    font-size: 16px;
}

.accordion-body {
    background-color: rgba(234, 234, 234, 1);
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.form-search-tt {

    border: 1px solid #EAEAEA;
    padding: 15px 15px 30px;
}

.form-search-tt h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    color: var(--maincolor);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.form-search-tt label {
    color: #636363;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.form-search-tt select {
    margin-bottom: 5px;
}

.form-search-tt .row {
    margin-bottom: 25px;
}

.form-search-tt input,
.form-question-tt input {
    border-radius: 0;
}

.form-search-tt select,
.form-question-tt select {
    border-radius: 0;
}

.form-question-tt textarea {
    border-radius: 0;
}

.form-search-tt form {
    flex-wrap: wrap;
}

.form-question-tt form {
    flex-wrap: wrap;
    padding: 0 46px;
}

.form-question-tt {
    margin-top: 10px;
    border: 1px solid #337AB7;
    padding: 53px 15px 34px 15px;
}

.form-question-tt span {
    color: #f00;
}

.form-question-tt h4 {
    text-align: center;
    color: #636363;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.form-question-tt .col-md-1 {
    width: 13.333333%;
}

.form-question-tt label {
    color: #636363;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding: 5px;
}

.section-title.red {
    background-color: #D70D00;
}

#chartdiv {
    margin-top: 34px;
    height: 368px;
}

.search-home {
    background-image: url(../images/trong-dong.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-login.forget-password {
    width: 518px !important;
}

.btn-problem {
    max-width: 100%;
    font-size: 18px !important;
    font-weight: 500 !important;
    height: 54px !important;
    width: 255px !important;
    background: linear-gradient(180deg, rgba(250, 197, 24, 0.21), #F0A31B);
    background-repeat: no-repeat !important;
    border: 0.837004px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8.37004px;
}

.img-btn {
    display: inline-block;
    position: relative;
    width: 52px;
    height: 32.39px;
    background-size: 90%;
    left: 3px;
    background-image: url(../images/letter.png);
    background-repeat: no-repeat;
}

.img-btn::after {
    position: absolute;
    content: "?";
    left: 18px;
    top: -18px;
    font-size: 29.18px;
}

.list-btn button[class="btn-problem"] {
    margin-right: 99px;
}

.btn-question {
    font-size: 18px !important;
    font-weight: 500 !important;
    height: 54px !important;
    background: linear-gradient(180deg, rgba(250, 197, 24, 0.21), #F0A31B);
    background-repeat: no-repeat !important;
    border: 0.837004px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8.37004px;
    width: 166px !important;
}

.thead-table {
    background-color: #FFDE55A8;
}

.thead-table th {
    font-size: 18px;
}

.list-content {
    margin-top: 27px;
    margin-bottom: 55px;
}

.list-content-childs {
    position: relative;
    border: 1px solid #DADADA;
}

.list-content-childs ul > li {
    border: unset;
    padding: 14px;
}

.list-content-childs ul {
    padding-top: 3px;
}

.list-content-childs ul > li:not(:last-child):after {
    content: " ";
    width: 94%;
    position: absolute;
    border-top: 1px solid #DADADA;
    bottom: 0;
    left: 16px;
}

.list-content div > ul > li > p,
.card-title {
    margin-bottom: 8px;
    color: #337AB7;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.card-body {
    padding: 0.5rem 0.5rem;
}

.list-content div > ul > li > span,
.list-detail .content > span {
    color: #636363;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form-login input::placeholder {
    color: #2F2B2B;
}

.form-login .form-control:hover,
.form-login .form-check:hover {
    opacity: 0.5;
}

.form-control:focus,
.form-check:focus,
.form-select:focus {
    box-shadow: unset;
}

.form-check-input:checked[type=radio] {
    background-image: url(../images/image-15.png);
    background-size: 100%;
    color: unset;
    border: 1px solid #000000;
    background-color: unset;
    width: 10px;
    height: 10px;
}

.form-check-input:checked[type=radio] ~ label {
    background-color: rgba(49, 138, 215, 0.2);
}

.form-check-input[type=radio] {
    width: 10px;
    border: 1px solid #000000;
    height: 10px;
    position: absolute;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.items-col6 {
    padding-top: 11px !important;
    padding-bottom: 10px !important;
}

.items-col6 p {
    letter-spacing: 0.5px;
}

.items-col6 a,
.list-content-childs a,
.card-title {
    color: #337AB7 !important;
    text-decoration: none;
}

.pagination,
.view-more {
    display: flex;
    justify-content: center;
}

.pagination {
    margin-top: 26px;
    margin-bottom: 17px;
}

.view-more {
    margin-top: 6px;
    margin-bottom: 13px;
}

.view-more > a {
    color: #337AB7;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.pagination > a,
.pagination > span {
    font-size: 14px;
    position: relative;
    padding: 5px 9px 4px 9px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #337AB7;
}

.pagination > a:not(:last-child) {
    margin-right: 6px;
}

.question-title {
    margin: 0;
    letter-spacing: 0.5px;
}

.question-title + span {
    color: #636363;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.content-title {
    color: #000000 !important;
    text-transform: none !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.content-detail {
    line-height: 16px !important;
    color: #000000 !important;
}

.card-text.nm1 {
    font-size: 9.82677px;
}

.card-news {
    border: 0;
}

.news-images .card-title {
    padding: 0 10px 0;
    background: radial-gradient(black, transparent);
}

.news-images {
    position: relative;
    height: 180px;
    overflow: hidden;
    border: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(352deg, #000000bf, transparent);
    /* Black see-through */
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.news-images img {

    object-fit: cover;
    height: 100%;
}

.news-images a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px;
    font-size: 17px;
    font-weight: 600;
}

.pagination > .active {
    background: #337ab7;
    color: #fff !important;
    border-color: #337ab7;
}

.list-detail {
    margin-top: 14px;
}

.list-detail li > p {
    letter-spacing: 0;
}

.list-detail .title,
.content > p {
    font-weight: 700;
    color: #337AB7;
    line-height: 32px;
}

.list-detail .title {
    font-size: 24px;
}

.list-detail .content p {
    font-size: 18px;
    margin: 0;
}

.list-detail ul {
    padding: 0;
}

.list-answer li:not(:first-child) {
    padding-top: 19px !important;
}

.list-answer li > p {
    padding-top: 5px !important;
    letter-spacing: 0.2px;
}

.scroll-menu {
    overflow-y: scroll;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.home {
    height: 215px !important;
}

.scroll-menu li {
    margin-bottom: 5px;
}

.scroll-menu .list-group-item {
    border: 0;
}

.scroll-menu a {
    color: #337AB7;
    font-weight: 400;
    font-size: 14px;

    line-height: 14px;
    text-decoration: none;
}

.scroll-menu ul {
    list-style-type: none;
    padding: 10px 15px 0 25px;
    position: relative;
}

.scroll-menu ul li:before {
    position: absolute;
    content: "";
    background-color: var(--maincolor);
    font-weight: 600;
    width: 6px;
    height: 6px;
    border: 1px solid var(--maincolor);
    border-radius: 30px;
    left: 13px;
    margin-top: 6px;
}

.btn-form {
    display: block;
    text-align: center;
    text-decoration: none;
}

.list-btn button, .btn-form {
    border: 0;
    line-height: 35px;
    width: 125px;
    font-size: 18px;
    margin: 0 12px;
}

.list-btn button:hover {
    opacity: 0.7
}

.list-btn .btn-search {
    background: #428BCA;
    color: #fff;
}

.list-btn .btn-clear-g {

    color: #636363;
    background: #fff;
    border: 1px solid #636363;
}

.list-btn .btn-clear {
    color: #636363;
    border: 1px solid #636363;
    background: transparent;
}

.list-btn .btn-send {
    border: 1px solid #337AB7;
    background: rgba(242, 174, 46, 1);
    color: #fff;
}

.list-btn .btn-whilte {
    background-color: #FFFFFF;
    color: #337AB7;
    font-size: 22px;
    width: 225px;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dropdown_login select {
    width: 80%;
}

.list-btn .btn-login {
    background-color: #337AB7;
    color: #FFFFFF;
    font-size: 21.94px;
    width: 226px;
    height: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 100%;
}

.forgot-password {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.remember-account {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.container.login {

    min-height: 100vh;
}

.form-login .padding-login {

}

.paginate_home {
    height: 20px;
    width: auto;
}

.paginate_home:last-child {
    margin-left: 50px;
    text-transform: capitalize;
}

.paginate_home input[type="number"] {
    text-align: center;
    width: 38.62px;
}

.paginate_home button[type="text"] {
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid;
    height: 20px !important;
    width: 20px !important;
    display: inline-block;
}

.col-md-9.no-padding {
    padding: 0;
    border: 1px solid #dee2e6;
    width: 74%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.banner {
    position: relative;
}

.banner-img:after {
    position: absolute;
    content: "BANNER";
    left: 0;
    font-size: 18px;
    width: 300px;
}

.card-home {
    border: 0;
}

.armorial {
    max-width: 50% !important;
}

.card-home .card-body {
    padding: 0px 2px 0px 12px;
}

.scroll-menu.home-menu {
    border: 0 !important;
}

.card-home .card-body .card-text {
    overflow: hidden;
    height: 39px;
    text-overflow: ellipsis;
    font-size: 11px;
    line-height: normal;
}

.card-home .card-img {
    height: 105.08px;
    object-fit: cover;
}

.card-home .card {
    width: 100%;
    height: 116px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.card-home .card-img-overlay {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-end;
}

.card-home .card-img-overlay .card-text {
    color: #ffffff;
    font-size: 10px;
    line-height: normal;
    font-weight: 700;
}

.card-home .card-body .card-date {
    font-size: 9.83px;
    margin-bottom: 10px;
    color: #428BCA;
}

.card-home .card-body .card-title > a {
    font-size: 13.1px !important;
    font-weight: 500 !important;
}

.card-home .card-body .card-title {
    line-height: 15px !important;
    font-size: 13.1px;
}

.accordion-button:focus {
    box-shadow: unset;
    background: #ddd;
    color: inherit;
}

.btn-question {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-question span {
}

.btn-question p {
    margin-bottom: 0;
}

.list-btn .dropdown-toggle::after {
    display: none;
}

.noti-btn {
    width: 166px;
    font-size: 1em;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #337AB7;
}

.noti-btn h5 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding: 6px 0;
    font-weight: 500;
}

.noti-btn .content {
    background: rgba(248, 195, 23, 1);
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.noti-btn .content p {
    font-weight: normal;
    line-height: normal;
    color: #000;
    margin-bottom: 25px;
}

.noti-btn .content p a {
    text-decoration: none;
}

.noti-btn .content > a {
    display: block;
    text-decoration: unset;
    color: #000;
    background: #fff;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.list-btn {
    position: relative;
}

.banner img {
    width: 100%;
}

.form-login .form-check-label {
    width: 100%;


}

.bg-image h5 {
    position: absolute;
    bottom: 0;
}

.sidebar img {
    width: 100%;
}

.after-login {
    display: flex;
    position: relative;
    min-height: 30px;
}

.after-login .user-login {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 136px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}

.after-login .user-login i {
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

.modal-kien-nghi .modal-content {
    border: 0;
}

.modal-kien-nghi .section-title {
    padding: 10px 15px;
}

.modal-kien-nghi .modal-header .btn-close {
    font-size: 12px;
}

.modal-kien-nghi.modal.show .modal-dialog {
    width: 1230px;
    max-width: 100%;
}

.modal-kien-nghi .modal-content h5 {
    color: #337AB7;
}

.question {
    padding: 15px 10px 40px;
    border: 1px solid #DADADA;
    border-radius: 3px;
}

.question h6 {
    color: rgba(51, 122, 183, 1);
}

.question figure {
    width: 55px;
    height: 55px;
    overflow: hidden;
}

.question .content {
    flex: 1;
}

.answer {
    background: rgba(252, 247, 225, 1);
}

.modal-kien-nghi .modal-body {
    padding-bottom: 2rem;
}

.modal-question h5 {
    font-size: 14px;
}

.modal-question.modal.show .modal-dialog {
    width: 270px;
    max-width: 100%;
}

.modal-question .modal-body a {
    text-decoration: none;
    cursor: pointer;
}

.modal-question .modal-body a.close-dropdown {
    display: inline-block;
    width: 68px;
    line-height: 25px;
    background: rgba(196, 196, 196, 1);
    text-align: center;
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.modal-question .modal-body a.btn-send-question {
    width: 94px;
    line-height: 25px;
    display: inline-block;
    background: rgba(49, 138, 215, 1);
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.dropdown-menu.show {
    margin-top: 0;
    width: 100%;
    background: #337AB7;
    border: 0;
    border-radius: 0;
}

.dropdown-menu.show a {
    color: #fff;
}

.dropdown-menu.show a:hover {
    background: var(--maincolor);
}

.related-tt {
    border: 1px solid #DADADA;
    padding: 18px;
}

.related-tt .item {
    background: rgba(234, 234, 234, 1);
    border-radius: 6px;

    padding: 6px 15px;
    margin-bottom: 16px;
}

.related-tt .item h6 {
    margin: 0;
}

.related-tt .item h6 a {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

.table-scroll tr {
    font-size: 14px;
}

.table-scroll tr:hover td {
    background: rgba(49, 138, 215, 0.2)
}

.list-dropdown {
    border: 1px solid #EAEAEA;
    border-top: 0;
    padding: 10px;
}

.list-dropdown .accordion-button {
    color: #fff;
    background: rgba(66, 139, 202, 1);
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
}

.accordion-body a {
    color: #000;
    text-decoration: unset;
}

.accordion-button::after {
    transform: rotate(180deg);
    background-image: url("/images/icon/arrow.svg");
    width: 20px;
    height: 8px;
    background-size: 100%;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0);
    background-image: url("/images/icon/arrow.svg");
}

.chart-small #chartdiv {
    margin-top: 0;
    height: 210px;
}

.list-video {
    padding: 5px;
}

.list-video .item {
    display: flex;
    margin-bottom: 10px;
}

.list-video .item figure {
    margin-bottom: 0;
    margin-right: 10px;
    width: 115px;
}

.list-video .item h6 {
    flex: 1;
}

img {
    max-width: 100%;
}

.form-profile {
    padding: 20px;
    border: 1px solid rgba(234, 234, 234, 1);
}

.form-profile label {
    font-size: 18px;
}

.form-profile input, .form-profile select {
    line-height: 38px;
}

.form-profile input::placeholder {
}

.form-check-label {
    display: block;
    padding: 12px 45px;
    line-height: 28px;
    cursor: pointer;
}

.footer-form {
    border: 1px solid rgba(234, 234, 234, 1);
    border-top: 0;
    padding: 10px 0;
}

.btn-cancel, .btn-submit {
    width: 126px;
    line-height: 30px;
    color: #fff;
    text-decoration: unset;
    text-align: center;
    border: 0;
    display: block;
    margin: 0 35px;
}

.btn-cancel {
    background: #D70D00;
}

.btn-submit {
    background: #428BCA;
}

.menu-profile {
    top: 30px;
    list-style: none;
    padding: 0;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 1px 2px 11px 1px rgb(0 0 0 / 50%);
    margin-bottom: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.user-login:hover .menu-profile {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.menu-profile li a {
    text-decoration: unset;
    color: rgba(0, 0, 0, 1);
    background: #fff;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    font-weight: normal;
}

.btn-block{
    display: block;
text-decoration: unset;text-align: center;line-height: 70px;}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #C4C4C4;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1230px;
    }
}


/*iPad*/

@media (max-width: 1025px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        padding: 10px 20px;
    }

    .form-search-tt label {
        width: 140px;
    }
}

@media (max-width: 980px) {
    .nav-login {
        width: 200px;
    }

    .collapse.show {
        padding-bottom: 30px;
    }

    .section-title {
        font-size: 14px;
    }

    .card-home .col-md-5, .card-home .col-md-7 {
        width: 100%;
    }

    .card-home .card-body {
        padding: 5px 0;
    }

    .table-scroll {
        overflow-x: auto;
    }

    .table-scroll table {
        border-collapse: collapse;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .list-btn-send {
        display: flex;
    }

    .list-btn button[class="btn-problem"] {
        margin-right: 10px;
    }
}


/*Mobile*/

@media (max-width: 767px) {
}


/*iPhone*/

@media (max-width: 430px) {
    .header-top {
        position: relative;
        flex-wrap: wrap;
    }

    .navbar-brand {
        width: calc(25% - 16px);
    }

    .header-top .text-head {
        width: 75%;
    }

    .header-top .text-head p:nth-child(1) {
        font-size: 0.8em;
    }

    .header-top .text-head p:nth-child(2) {
        font-size: 1.2em;
    }

    .nav-login {
        position: absolute;
        right: 0;
        bottom: -35px;
        z-index: 99;
        width: auto;
    }

    .card-home .card-img {
        height: auto;
        max-height: 100%;
    }

    .card-home .card {
        height: 210px;
    }

    .banner .col-md-4 {
        margin-bottom: 20px;
    }

    .sidebar-home {
        margin-top: 20px;
    }

    .col-md-9.no-padding {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        width: 100%;
        margin-top: 20px;
        padding-top: 20px;
    }

    .list-btn-send {
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-btn button[class="btn-problem"] {
        margin-bottom: 15px;
    }

    .list-btn button, .btn-form {
        width: 260px !important;
        font-size: 13px;
        padding: 5px 0;
    }

    .accordion {
        padding: 0 15px;
    }

    .brand-footer p:nth-child(2) {
        font-size: 16px;
    }

    .brand-footer p:nth-child(3) {
        font-size: 20px;
    }

    .address {
        font-size: 14px;
    }

    .copyright {
        font-size: 12px;
    }

    .scroll-menu {
        height: auto;
    }

    .form-search-tt label {
        width: 100%;
        padding: 0 10px 10px;
    }

    .form-search-tt .row {
        margin-bottom: 15px;
    }

    .form-search-tt .list-btn {
        display: flex;
        width: 100%;
    }

    .list-detail .title {
    }

    .dropdown_login select {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-question-tt form {
        width: 100%;
        padding: 0;
    }

    .form-question-tt .col-md-1 {
        width: 100%;
        padding: 0 15px 10px;
        font-size: 16px;
    }

    .form-question-tt select {
        margin-bottom: 15px;
    }

    .form-question-tt .list-btn {
        display: flex;
        width: 100%;
    }
}